


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    background-color: dimgrey;
    text-align: center;
    color: white;
    height: 160px;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: 2.9rem;
    font-weight: bolder;
    padding: 0px 20px;
    

}
.box{
    padding-top: -20px;

}
.con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 40px;
}
.data{
    display: flex;
    flex-direction: column;
    box-shadow: 0 40px 20px rgba(0, 0, 0, 0.3);
    align-items: center;
    border-radius: 8px;
    background-color: white;
    width: 290px;

}
.img{
    width: 300px;
    height: 240px;
    border-radius: 8px;
}
.good{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.8rem;
}
.bad{
    margin-top: -20px ;
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 100;
}
.pr{
    font-weight: bold;
    margin-bottom: 20px;
}
button{
    background-color: #24a759;
    color: white;
    width: 130px;
    height: 35px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
}
footer{
    background-color: #696969;
    color: white;
    text-align: center;
    height: 20px;
}